// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-text {
  text-align: center;
}

.larger-font-size {
  font-size: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.btn-center {
  margin: auto;
}

a {
  margin: 5px;
}

.jumbotron h1 {
  margin-bottom: 50px;
}

.glyphicon.glyphicon-usd {
  font-size: 75px;
}

.glyphicon.glyphicon-book {
  font-size: 75px;
}

.h1 {
  color: red;
  font-size: 75px;
}
